<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мессенджер</title>
    <link rel="stylesheet" href="styles/styl_f_messages.css">
</head>
<body>
<header>
    <div>
        <h1>Новости о разработке</h1>
        <a href="">Скачать demo</a>
    </div>
</header>
<main>
    <div>

        <h1>Тут такие новости</h1>
    </div>
    <div>
        <h1>Тут такие</h1>
    </div>
    <div>
        <h1>Тут такие</h1>
    </div>
</main>
<footer>

</footer>
</body>
</html>