<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <a href="./login.html"><button>Войти в аккаунт</button></a>
    <h1>Регистрация нового пользователя</h1>
    <form action="/save_user.py" method="POST">
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username" required><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>